.code-editor-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.code-editor-container {
    flex: 1;
    height: 90vh;
    width: 100%;
    border: 2px solid grey;
    border-radius: 5px;
}
