.documentsList {
    margin: 1rem 1rem 0 0;
}

.documentsList a {
    color: #141414;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.50rem 1.0rem;
    transition: background 0.5s ease-in-out;
}

.documentsList a:hover {
    background-color: #C588D4;
}
